.header {
  @include flex-center-column;
  @include shadow;
  position: relative;
  height: 64px;
  justify-content: center;
  &__logo {
    width: 100%;
    text-align: center;
  }

  &__back-btn {
    position: absolute;
    left: 1.4rem;

    font-size: 1.4rem;
    padding: 0.4rem;
  }
}
