@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Shrikhand&display=swap");
.menu__item {
  opacity: 0;
  -webkit-animation: menu-items 1s ease;
          animation: menu-items 1s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.menu__item:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.menu__item:nth-child(3) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.menu__item:nth-child(4) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@-webkit-keyframes menu-items {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu-items {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: unset;
  text-decoration: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
}

h2 {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0.5rem 0;
  line-height: 1.7rem;
}

h3 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  font-weight: 900;
}

h4 {
  font-size: 1.15rem;
  margin: 0.4rem 0;
  font-weight: 700;
}

p {
  font-size: 1em;
  font-weight: 300;
  margin: 0.4rem 0;
  line-height: 1.2rem;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

@media only screen and (max-width: 360px) {
  html {
    font-size: 15px;
  }
}
.like-btn {
  font-size: 1.4rem;
  padding: 0.2rem;
  cursor: pointer;
}
.like-btn > i {
  transform: scaleY(1.05);
}
.like-btn > i:nth-child(2) {
  opacity: 0;
  position: absolute;
  transform: translateX(-103%);
}
.like-btn:hover > i:nth-child(1) {
  opacity: 0;
}
.like-btn:hover > i:nth-child(2) {
  transition: opacity 0.2s;
  opacity: 1;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.like-btn--homepage {
  position: absolute;
  right: 0.7rem;
  bottom: 25px;
}
.like-btn--menu {
  margin: 0 0.5rem;
}

.colored-btn {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.9rem 0;
  color: white;
  border-radius: 10rem;
  margin: 1.25rem 0;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.12);
  background-color: #686868;
  transition: all 0.2s ease-in-out;
}
.colored-btn--explore {
  width: 200px;
}
.colored-btn--menu {
  width: 10rem;
  align-self: center;
}
.colored-btn:hover {
  transition: all 0.2s;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.4);
}

.box {
  padding: 1.5rem 1rem;
}
@media only screen and (min-width: 1024px) {
  .box {
    padding: 2rem 1.8rem;
  }
}

.img-restau {
  width: 100%;
}
.img-restau--homepage {
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.img-restau--menu {
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.12);
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.12);
  position: relative;
  height: 64px;
  justify-content: center;
}
.header__logo {
  text-align: center;
}
@media only screen and (max-width: 360px) {
  .header__logo img {
    width: 90%;
  }
}
.header__back-btn {
  position: absolute;
  left: 1.4rem;
  font-size: 1.4rem;
  padding: 0.4rem;
}

.footer {
  background: #353535;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.8rem 0 1.5rem 1.6rem;
}
.footer__logo {
  padding: 0.15rem 0;
  color: white;
  font-family: "Shrikhand";
  font-weight: 300;
  font-size: 1.1rem;
}
.footer__item {
  padding: 0.35rem;
  font-size: 0.9rem;
}
.footer__item i {
  width: 15px;
  text-align: center;
  margin: 0 12px 0 0;
}

.locate {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #353535;
  background: #eaeaea;
  font-size: 1rem;
}
.locate > a {
  display: flex;
  justify-content: space-around;
  width: 140px;
}

.explore {
  text-align: center;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about__title {
  width: 100%;
}
.about__list {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.6rem;
}
.about__item {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  position: relative;
  background: #f6f6f6;
  padding: 1.5rem 0.7rem;
  font-size: 1rem;
  border-radius: 25px;
  margin: 0.8rem 0rem;
  font-weight: 700;
  box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.12);
}
.about__item span {
  position: absolute;
  left: -10px;
  background-color: #9356dc;
  color: white;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  border-radius: 100px;
  font-weight: 300;
}
.about__item i {
  font-size: 1.4rem;
  width: 70px;
  color: #353535;
  text-align: center;
}
.about__item:nth-child(2) i, .about__item:nth-child(3) i {
  transform: scale(78%, 96%);
}
.about__item:hover {
  transition: all 0.1s;
  background: #f2eafb;
}
.about__item:hover > i {
  color: #9356dc;
}
@media only screen and (min-width: 1024px) {
  .about__list {
    flex-direction: row;
  }
  .about__item {
    max-width: 280px;
  }
}

.restaurants {
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
}
.restaurants__title {
  width: 100%;
}
.restaurants__cards {
  overflow: scroll;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media only screen and (min-width: 500px) {
  .restaurants__cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurants__cards {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 240px;
  height: 16rem;
  border-radius: 10px;
  position: relative;
  background-color: white;
  margin: 1rem;
  box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.12);
}
.restaurant__new {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  padding: 10px 12px;
  background-color: #99e2d0;
  color: #278870;
  font-weight: 600;
}
.restaurant__title, .restaurant__location {
  padding-left: 0.7rem;
}
@media only screen and (min-width: 1024px) {
  .restaurant {
    min-width: 350px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;
  position: relative;
  padding: 1.8rem 1.1rem;
  margin-top: -50px;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.12);
}
.menu__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu__title {
  font-family: "Shrikhand";
  font-weight: 300;
  font-size: 1.6rem;
}
.menu__section {
  margin: 1rem 0;
}
.menu__section > h3 {
  padding: 1rem 0;
  font-weight: 200;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.menu__section > h3::after {
  content: "";
  margin-top: 5px;
  width: 40px;
  height: 3px;
  display: block;
  background-color: #99e2d0;
  border-radius: 1rem;
}
.menu__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.12);
}
.menu__item div:first-child {
  padding: 0.7rem;
  width: 100%;
  overflow: hidden;
}
.menu__item div:first-child:first-child {
  margin-top: 0;
}
.menu__item div:first-child:last-child {
  margin-bottom: 0;
}
.menu__item div:first-child h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: clip;
}
.menu__item div:first-child p {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu__item div:first-child p span:first-child {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__item div:first-child p span:last-child {
  font-weight: 600;
  margin: 0 0.25rem;
}
.menu__item div:last-child {
  width: 0;
  transition: width ease-in-out 0.2s, background-color ease-in-out 0.6s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -0.75rem 0;
  border-radius: 0 10px 10px 0;
  max-width: 60px;
}
.menu__item div:last-child > i {
  transform: rotate(0turn);
  transition: transform 0.25s ease-in-out;
}
.menu__item:hover > .checked {
  transition: width ease-in-out 0.2s;
  width: 100%;
  background: #99e2d0;
}
.menu__item:hover > .checked > i {
  transform: rotate(1turn);
  transition: transform 0.25s linear;
}
@media only screen and (min-width: 1024px) {
  .menu__sections {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  .menu__section {
    width: 100%;
    max-width: 300px;
  }
}/*# sourceMappingURL=style.css.map */