.img-restau {
  width: 100%;

  &--homepage {
    height: 175px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  &--menu {
    height: 260px;
    object-fit: cover;
    @include shadow;
  }
}
