@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Shrikhand&display=swap");

h2 {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0.5rem 0;
  line-height: 1.7rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 900;
  padding: 0.5rem;
}
h4 {
  font-size: 1.15rem;
  font-weight: 700;
  padding: 0 0.5rem 0;
}
p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2rem;
  padding: 0 0.5rem;
}

body {
  font-family: "Roboto", sans-serif;
}
