.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.8rem 1.1rem;
  background-color: map-get($color, light-grey);
  border-radius: 50px 50px 0 0;
  margin-top: -50px;

  &__title {
    font-family: "Shrikhand";
    font-weight: 400;
    font-size: 1.8rem;
  }

  &__section {
    margin: 1rem 0;

    & > h3 {
      padding: 1rem 0;
      font-weight: 200;
      font-size: 1.1rem;
      text-transform: uppercase;
      &::after {
        content: "";
        margin-top: 5px;
        width: 40px;
        height: 3px;
        display: block;
        background-color: $ter;
        border-radius: 1rem;
      }
    }
  }

  &__item {
    width: 100%;
    margin: 1rem 0;
    padding: 0.65rem 0;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    @include shadow;

    & div:first-child {
      padding: 0 0.6rem;
      width: 100%;
      overflow: hidden;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      & h4 {
        padding: 0;
        margin-bottom: 0.3rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: clip;
      }
      & p {
        padding: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;

        & span:first-child {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        & span:last-child {
          font-weight: 600;
          margin: 0 0.25rem;
        }
      }
    }

    & div:last-child {
      width: 0;
      transition: width ease-in-out 0.2s, background-color ease-in-out 0.6s;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: -0.75rem 0;
      border-radius: 0 10px 10px 0;
      max-width: 60px;
      & > i {
        transform: rotate(0turn);
        transition: transform 0.25s ease-in-out;
      }
    }

    &:hover > .checked {
      transition: width ease-in-out 0.2s;
      width: 100%;
      background: map-get($color, ter);

      & > i {
        transform: rotate(1turn);
        transition: transform 0.25s linear;
      }
    }
  }
}
