@mixin flex-center-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin flex-row-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @media only screen and (min-width: 500px) {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@mixin shadow {
  box-shadow: 0px 4px 14px -1px rgba(0, 0, 0, 0.15);
}

@mixin linear-gradient-prim {
  background: linear-gradient(354deg, $prim 4%, $sec 100%);
}
