$color: (
  prim: #9356dc,
  sec: #ff79da,
  ter: #99e2d0,
  dark-grey: #353535,
  mid-grey: #eaeaea,
  light-grey: #f6f6f6,
);

$prim: #9356dc;
$sec: #ff79da;
$ter: #99e2d0;

$weight: (
  light: 300,
  standard: 400,
  bold: 700,
  boldest: 900,
);

$padding-card: 0.7rem;
